<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home || Weather App</title>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <div class="main-content">
            {{>header}}
            <p>Use this site to access your weather</p>
            <form action="">
                <input type="text" placeholder="Enter location" id="weatherSearch">
                <button type="submit">Search</button>
            </form>
            <p id="messageOne" class="messages"></p>
            <p id="messageTwo" class="messages"></p>
        </div>
        {{>footer}}
    </div>
</body>
<script src="/js/main.js"></script>

</html>