@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
}

header {
    padding: 16px;
    margin: 8px 0;
    border-bottom: 1px solid #eeeeee;
    background: #eeeeee;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 4rem;
    /* text-align: center; */
    margin: 16px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    padding: 5px 15px 5px 0;
}

nav ul li a {
    color: #888888;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #6d6565;
}

.container {
    max-width: 700px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
}

h2 {
    color: brown;
    text-align: center;
}

p {
    text-align: justify;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    border-radius: 4px;
    font-size: 18px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    font-size: 18px;
}

button:hover {
    background: #646363;
}

.messages {
    font-size: 20px;
    text-decoration: wavy;
}

.portrait {
    max-width: 300px;
    display: block;
    margin: auto;
    padding: 10px 30px;
}

footer {
    background: #eeeeee;
    padding: 20px;
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin: 16px 0;
    padding: 16px 0;
}

footer p {
    padding: 4px 16px;
    margin: 0;
}